body{
    font-family: 'Manrope', sans-serif;
}
header{
    background: url(img/bkg_img.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
    width: 100%;
}