body {
    margin-top: -64px;
    font-family: 'Manrope', sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #7c866e;
}

p {
    margin: 0;
}

h1 {
    color: white;
    font-size: 3vh;
    width: 30vw;
}


.image {
    background-image: url(img/bkg_img.png);

    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.logo {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 30px;
    margin-left: 85vw;
    width: 200px;
    height: 100px;
}

.logo img {
    width: 175px;
    height: auto;
}

.header {
    padding-top: 160px;
    color: white;
    font-size: 400%;
    text-align: left;
    margin-left: 5%;
    width: 30%;
    height: 100px;
    white-space: nowrap;
}

.nav_bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: #F4F4F4;

    padding-top: 1vh;
    padding-bottom: 1vh;

    text-align: center;
    letter-spacing: 0.065vw;
    font-family: 'Manrope',
        sans-serif;
    font-size: 1.25em;
    color: #5F3D3F;

    z-index: 0;
}

.nav_sec {
    display: inline-block;
    padding: 0px 2vw;

    color: #5F3D3F;
    ;

    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.nav_sec:hover {
    color: #bbb0b1;

    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

@media only screen and (max-width: 100vw) {
    .nav_bar {
        overflow-y: visible;

        font-size: 1.2em;
    }

    .nav_sec {
        padding: 5px 2vw;
    }

    .dropdown-content .nav_sec {
        padding: 0;
    }
}

.title {
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 40px;
    white-space: nowrap;
}

.mapbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    display: block;

    background-color: #F4F4F4;
    padding-top: 1vh;
    padding-bottom: 1vh;

    text-align: center;

    font-size: 1.25em;
    color: #5F3D3F
}

.footer span {
    color: #7c866e;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    height: 450px;
}


.circleBase {
    width: 400px;
    height: auto;
    border-radius: 50%;
    margin-right: 10vh;
}

.circleBase img {
    width: 100%;
    border-radius: 50%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    width: 20%;
    padding: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    position: relative;
}

.image_hvr {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image_hvr {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    padding: 16px 32px;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    width: 400px;
    font-size: 30px;
}

@media only screen and (max-width:1000px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20;
        padding-right: 30vw;
    }

    .container {
        position: relative;
        width: 40vw;
    }
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 515px;

}

input[type=text]:focus {
    border-color: #333;
}

input[type=submit] {
    padding: 15px 233px;
    background: #bbb0b1;
    border: 0 none;
    font-size: 20px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}