body {
    margin-top: -64px;
    font-family: 'Manrope', sans-serif;
    margin-left: 0;
    margin-right: 0;
    background-color: #7c866e;
}

.image {
    background-image: url(img/bkg_img.png);
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    width: 300px;

}

.header {
    padding-top: 130px;
    color: white;
    font-size: 400%;
    text-align: left;
    margin-left: 5%;
    width: 30%;
    height: 100px;
}

.nav_bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: #F4F4F4;

    padding-top: 1vh;
    padding-bottom: 1vh;

    text-align: center;
    letter-spacing: 0.065vw;
    font-family: 'Manrope',
        sans-serif;
    font-size: 1.25em;
    color: #5F3D3F;

    z-index: 0;
}

.nav_sec {
    display: inline-block;
    padding: 0px 2vw;

    color: #5F3D3F;
    ;

    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.nav_sec:hover {
    color: #bbb0b1;

    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

@media only screen and (max-width: 100vw) {
    .nav_bar {
        overflow-y: visible;

        font-size: 1.2em;
    }

    .nav_sec {
        padding: 5px 2vw;
    }

    .dropdown-content .nav_sec {
        padding: 0;
    }
}

.mapstitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: white;
}

#map {
    height: 80vh;
    /* The height is 400 pixels */
    width: 70vw;
    /* The width is the width of the web page */
}